# Using Python 3.9
!pip install swig "gymnasium[all]" stable-baselines3[extra] tensorboard ale-py
!pip install pygame
!pip install numpy
!pip install airsim==1.8.1
!pip install msgpack==0.6.2
!pip install msgpack-python==0.5.6
!pip install msgpack-rpc-python==0.4.1
!pip install airsimdroneracinglab==1.0.2


pip install "msgpack<1.0.0"   
pip install msgpack-rpc-python